.card-stack {
    /* Large scroll area to allow cards to stack */
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10vh;
    height:149rem
}

/* Each card wrapper (sticky section) */
.card-container {
    position: sticky;
    bottom: -407px; /* stick to bottom as we scroll */
    height: 49rem; /* consistent height for stacking */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For responsive devices */
@media (max-width: 900px) {
    .card-stack {
        height: auto; /* disable sticky stacking on small screens */
    }

    .card-container {
        position: sticky;
        bottom: -120px; /* stick to bottom as we scroll */
        height: auto;
        margin-bottom: 4rem;
    }
}

